<a
  href="<%= link %>"
  class="group relative border-l h-full flex flex-col items-center w-[12.5%] justify-center overflow-hidden"
>
  <!-- 背景アニメーション -->
  <span
    class="absolute inset-0 origin-left scale-x-0 bg-[#262626] transition-transform duration-300 ease-out group-hover:scale-x-100"
  ></span>

  <!-- 中身 -->
  <span class="relative z-10 material-symbols-outlined transition-colors duration-300 group-hover:text-white">
    <%= icon %>
  </span>

  <span class="relative z-10 transition-colors duration-300 group-hover:text-white">
    <%= text %>
  </span>
</a>