<header class="h-20 px-6 border-b border-gray-300 flex items-center justify-between mb-5 w-full">
  <a href="/">
    <img src="/header_logo.svg" alt="三田学園ロゴ" class="h-12">
  </a>

  <div class="space-x-2 flex items-center">
    <a href="/ob" class="font-bold hover:text-gray-600">卒業生・OBの方</a>
    <a href="/accounts" class="border-l pl-2 hover:bg-black hover:text-white transition-colors duration-300 h-full flex flex-col items-center">
      <span class="material-symbols-outlined">
        account_box
      </span>
      ログイン
    </a>
  </div>
</header>